In [1]:
phone_balance = 10
bank_balance = 50

if phone_balance < 10:
    phone_balance += 10
    bank_balance -= 10

print(phone_balance)
print(bank_balance)

10
50

In [3]:
number = 144
if number % 2 == 0:
    print(number % 2)
    print("Number " + str(number) + " is even.")
else:
    print(number % 2)
    print("Number " + str(number) + " is odd.")

0
Number 144 is even.

In [6]:
age = 8

# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50

# Here is the logic for bus fare prices
if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket

message = "Somebody who is {} years old will pay ${} to ride the bus.".format(age, ticket_price)
print(message)

Somebody who is 8 years old will pay $1.25 to ride the bus.

In [24]:
points = 90  # use this input to make your submission

# write your if statement here
if points <= 50:
    prize = "wooden rabbit"
elif points <=150:
    prize = False
elif points <=180:
    prize = "wafer thin mint"
elif points <=200:
    prize = "penguin"
else: prize = False
    
#this is the message option
win_result = "Congratulations! You won {}!".format(prize)
lose_result = "Sorry no prize this time loser"

#if statement to select the correct message
if prize:
    print(win_result)
else: print(lose_result)

Sorry no prize this time loser

In [15]:
#print("Welcome master number man, select the secret numper")
answer = input()
#print("Welcome challenger, please take a guess")
guess = input()

#to check if there are two different numbers

if guess > answer:
    print("hmm bit too high")
elif guess < answer:
    print("ok just a touch too low")
elif guess == answer:
    print ("nice you nailed it")

10
9
hmm bit too high

In [17]:
# '''
# Depending on where an individual is from we need to tax them 
# appropriately.  The states of CA, MN, and 
# NY have taxes of 7.5%, 9.5%, and 8.9% respectively.
# Use this information to take the amount of a purchase and 
# the corresponding state to assure that they are taxed by the right
# amount.
# '''
state = "CA" #Either CA, MN, or NY 
purchase_amount = 20 #amount of purchase

if state == "CA":
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "MN":
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "NY":
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from CA, your total cost is 21.5.

In [25]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()
    
cities

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [27]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# Write a for loop to print out each word in the sentence list, one word per line

for i in sentence:
    print (i)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [31]:
# Write a for loop using range() to print out multiples of 5 up to 30 inclusive

for i in range(5,31,5):
    print(i)

5
10
15
20
25
30

In [36]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for name in names:
    name=name.replace(" ","_")
    usernames.append(name)

print(usernames)

['Joey_Tribbiani', 'Monica_Geller', 'Chandler_Bing', 'Phoebe_Buffay']

In [37]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for name in names:
    name = name.lower().replace(" ", "_")

print(names)

['Joey Tribbiani', 'Monica Geller', 'Chandler Bing', 'Phoebe Buffay']

In [42]:
usernames = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# write your for loop here
for index in range(len(usernames)):
    usernames[index] = usernames[index].lower().replace(" ","_")
   
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [50]:
tokens = ['<greeting>', 'Hello World!', '</greeting>']
count = 0

# write your for loop here
for token in tokens:
    count += token.count("<") 
    count += token.count(">") 
count = count/2
print(count)

2.0

In [49]:
items = ['first string', 'second string']
html_str = "<ul>\n"          # The "\n" here is the end-of-line char, causing
                             # chars after this in html_str to be on next line

for item in items:
    html_str += "<li>{}</li>\n".format(item)
html_str += "</ul>"

print(html_str)

<ul>
<li>first string</li>
<li>second string</li>
</ul>

In [3]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}
for word in book_title:    
    if word not in word_counter:
        word_counter[word]=1
    else:
        word_counter[word] += 1
    
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [4]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}

for word in book_title:
    word_counter[word] = word_counter.get(word,0) + 1

print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [5]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }
for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

In [8]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }
for key, value in cast.items():
    print("Actor: {} Role: {}".format(key,value))

Actor: Jerry Seinfeld Role: Jerry Seinfeld
Actor: Julia Louis-Dreyfus Role: Elaine Benes
Actor: Jason Alexander Role: George Costanza
Actor: Michael Richards Role: Cosmo Kramer

In [23]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for fruit in fruits:

#if the key is in the list of fruits, add the value (number of fruits) to result
    
    if fruit in basket_items:
        result += basket_items[fruit]

print(result)

23

In [24]:
#Example 1

result = 0
basket_items = {'pears': 5, 'grapes': 19, 'kites': 3, 'sandwiches': 8, 'bananas': 4}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for fruit in fruits:
    
    if fruit in basket_items:
        result += basket_items[fruit]

print(result)

28

In [25]:
#Example 2

result = 0
basket_items = {'peaches': 5, 'lettuce': 2, 'kites': 3, 'sandwiches': 8, 'pears': 4}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for fruit in fruits:
    
    if fruit in basket_items:
        result += basket_items[fruit]

print(result)

9

In [27]:
#Example 3

result = 0
basket_items = {'lettuce': 2, 'kites': 3, 'sandwiches': 8, 'pears': 4, 'bears': 10}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

# Your previous solution here
for fruit in fruits:
   
    if fruit in basket_items:
        result += basket_items[fruit]

print(result)

4

In [28]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here
while current <= number:
    # multiply the product so far by the current number
    product *= current
    
    # increment current with each iteration until it reaches number

    current += 1

# print the factorial of number
print(product)

720

In [18]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here

for i in range(1,number+1):
    product *= i

# print the factorial of number
print(product)

720

In [24]:
start_num = 0 #provide some start number
end_num = 10 #provide some end number that you stop when you hit
count_by = 3 #provide some number to count by 

# write a while loop that uses break_num as the ongoing number to 
#   check against end_num

while start_num <= end_num:
    start_num += count_by
    break_num = start_num

print(break_num)

12

In [26]:
start_num = 12 #provide some start number
end_num = 10 #provide some end number that you stop when you hit
count_by = 3 #provide some number to count by 

# write a while loop that uses break_num as the ongoing number to 
#   check against end_num
if end_num > start_num:
    
    while start_num <= end_num:
        start_num += count_by
        break_num = start_num

    print(break_num)
    
else: print("Oops! Looks like your start value is greater than the end value. Please try again.")

Oops! Looks like your start value is greater than the end value. Please try again.

In [32]:
limit = 40

# write your while loop here

counter = 0

while (counter+1)**2 <= limit:
    counter +=1

nearest_square = counter**2

print(nearest_square)
print(counter)

36
6

In [34]:
14 %2

0

In [ ]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]

count_odd = 0
list_sum = 0
i = 0
len_num_list = len(num_list)

while (count_odd < 5) and (i < len_num_list): 
    if num_list[i] % 2 != 0:
        list_sum += num_list[i]
        count_odd += 1
    i += 1

print ("The numbers of odd numbers added are: {}".format(count_odd))
print ("The sum of the odd numbers added is: {}".format(list_sum))