In [33]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [34]:
df_18 = pd.read_csv('2018.csv')

In [35]:
df_08 = pd.read_csv('2008.csv')

In [36]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [37]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [38]:
# to determine the number of samples and columns for 2018
df_18.shape

(1611, 18)

In [39]:
# to determine the number of samples and columns for 2008
df_08.shape

(2404, 18)

In [64]:
# count of completely duplicated values for 2008, 2018
sum(df_08.duplicated())
sum(df_18.duplicated())

5

In [65]:
# count of all the null rows in the data set for 2008, 2018
sum(df_08.isnull().any(axis=1))
sum(df_18.isnull().any(axis=1))

2

In [42]:
# to datatypes for each for 2008
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [43]:
# to datatypes for each of the 2018
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [44]:
# non null unique values in the 2018 table
df_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [45]:
# non null unique values in the 2008 table
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [46]:
df_08.groupby('Cyl').mean()

             Displ  Unadj Cmb MPG
Cyl
(10 cyl)  5.496552      17.322452
(12 cyl)  5.990000      15.880850
(16 cyl)  8.000000      10.018400
(2 cyl)   1.300000      24.044550
(4 cyl)   2.241000      30.307278
(5 cyl)   2.728319      25.388535
(6 cyl)   3.438079      23.844190
(8 cyl)   5.200000      17.840416

In [47]:
df_18.groupby('Cyl').mean()

         Displ  Air Pollution Score  Greenhouse Gas Score
Cyl
3.0   1.433333             5.000000              6.722222
4.0   2.004212             4.668478              5.861413
5.0   2.500000             3.000000              4.000000
6.0   3.265675             3.551587              4.148810
8.0   5.188350             2.909385              2.851133
12.0  6.377778             2.111111              1.333333
16.0  8.000000             1.000000              1.000000

In [48]:
df_18.groupby('Fuel').count()['Model']

Fuel
Diesel                    38
Electricity                2
Ethanol/Gas               55
Gasoline                1492
Gasoline/Electricity      24
Name: Model, dtype: int64

In [49]:
df_08.groupby('Fuel').count()['Model']

Fuel
CNG               2
Gasoline       2318
diesel           11
ethanol           1
ethanol/gas      72
Name: Model, dtype: int64

In [50]:
# drop columns from 2008 dataset
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [71]:
# rename Sales Area to Cert Region
df_08.rename(columns={'sales_area':'cert_region'}, inplace = True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [72]:
# drop columns from 2018 dataset
df_18.drop(columns=['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], inplace = True)

# confirm changes
df_18.head(1)

KeyError: "['Stnd' 'Stnd Description' 'Underhood ID' 'Comb CO2'] not found in axis"

In [73]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [74]:
# replace spaces with underscores and lowercase labels for 2018 dataset
new_names = []
for x in list(df_18.columns):
    new_names.append(x.strip().lower().replace(" ","_"))

df_18.columns = new_names

# confirm changes

df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [75]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [76]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

True

In [77]:
# save new datasets for next section
df_18.to_csv('df_18v2.csv', index = False)
df_08.to_csv('df_08v2.csv', index = False)

In [78]:
df_18 = pd.read_csv('df_18v2.csv')
df_08 = pd.read_csv('df_08v2.csv')

In [81]:
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [82]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [83]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [84]:
df_18.drop(['cert_region'], axis =1 , inplace = True)
df_08.drop(['cert_region'], axis =1 , inplace = True)

In [85]:
df_08.shape

(1084, 13)

In [86]:
df_18.shape

(798, 13)

In [87]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [88]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [89]:
df_18.dropna(inplace = True)

In [90]:
df_08.dropna(inplace = True)

In [91]:
# check that both have no more null values anymore
df_08.isnull().sum().any()

False

In [92]:
df_18.isnull().sum().any()

False

In [96]:
print(sum(df_18.duplicated()))
print(sum(df_08.duplicated()))

0
0

In [95]:
df_18.drop_duplicates(inplace=True)
df_08.drop_duplicates(inplace=True)

In [98]:
df_18.to_csv('df_18_v3.csv')
df_08.to_csv('df_08_v3.csv')